html {
  background-color: #46A;
}
body {
  animation: fadeIn 1s ease 0s 1 normal;
  -webkit-animation: fadeIn 1s ease 0s 1 normal;
  background-image: url('https://4ki2.github.io/blog/img/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
}
@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
.avator {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url(https://aboutme.imgix.net/background/users/s/k/2/sk2_1467867173_69.jpg?w=150&amp;h=150&amp;q=40&amp;dpr=2&amp;auto=format&amp;fit=max&amp;rect=0,0,276,276);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: -80px auto 0 auto;
}
.mdl-card {
  text-align: center;
}
.mdl-card > .mdl-cell {
  margin: 0;
  width: 100%;
}
.mdl-card__title {
  height: 200px;
}
.mdl-card__title-text {
  align-self: flex-start;
}
#github_io .mdl-card__title {
  height: 180px;
  background: url('https://pbs.twimg.com/profile_banners/183939271/1467198681') center / cover;
}
#github_io .mdl-card__title a {
  text-decoration: none;
  color: #FFF;
}
